body, ul, p, li, h1, h2, h3, h4, h4{
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 1100px;
	margin: 0px auto;
	border: 1px solid black;
}
#header {
	min-height: 200px;
	padding: 10px;
}

#top-menu{
	
}
	#top-menu li{
		float: left;
		list-style-type: none;
	}
	#top-menu a:link, #top-menu a:visited{
		color: blue;
		text-decoration: none;
		line-height: 30px;
		padding-right: 10px;
		
	}
	#top-menu a:hover, #top-menu a.active{
		color: red;
		text-decoration: underline;
	}
	
#logo{
	
}	
	#logo img{
		width: 200px;
		
	}
#sitename{
	
	font-size: 14pt;
	font-weight: bold;
	
}
#left, #right {
    width: 200px;
}
#right {
	float: right;
}
	#right div{
		padding: 0px 10px;
		margin-bottom: 20px;
	}
	#right h2{
		font-size: 11pt;
		
	}
	#right p{
		font-size: 11pt;
	}
#left {
	float: left;
}
#container {
	margin: 0px 200px;
	min-height: 600px;
	border-width: 0px 1px;
	border-style: solid;
}
	#content{
		border-top: 1px solid black;
		padding: 10px;	
	}
	#content p{
		margin: 10px 0px;
		text-align: justify;
	}
#footer {
	border-top: 1px solid black;
	padding-top: 180px;
	text-align: center;
	font-weight: bold;
	
}
.clearfix{
	clear: both;
}
	

	
	
	