div{margin-bottom: 30px; }


#menu1 ul{color: blue}
#menu1 a:link, #menu1 a:visited {
	text-decoration: none;
	color: blue;
	font: 10pt Arial;
}
#menu1 a:hover{
	text-decoration: underline;
	color: red;
}

#menu2 ul{list-style-type: none}
#menu2 li{line-height: 20pt}
#menu2 a:link, #menu2 a:visited {
	text-decoration: none;
	color: blue;
	font: 10pt Arial;
}
#menu2 a:hover{
	text-decoration: underline;
	
}

#menu3 ul{list-style-type: none; width: 200px}
#menu3 li{ margin-bottom: 5px;  }
#menu3 a:link, #menu3 a:visited {
	text-decoration: none;
	color: blue;
	font: 10pt Arial;
	border: 1px solid blue;
	display: block;
	padding: 0px 5px;
	line-height: 20pt;
}
#menu3 a:hover{
	font-weight: bold
	
}


#menu4 ul{list-style-type: none; width: 200px}
#menu4 li{ margin-bottom: 5px;  }
#menu4 a:link, #menu4 a:visited {
	text-decoration: none;
	color: white;
	font: 10pt Arial;
	border: 1px solid black;
	display: block;
	padding: 0px 5px;
	line-height: 20pt;
	background-color: #484848;
	font-weight: bold
}
#menu4 a:hover{
	background-color: #fff;
	color: black
	
}


#menu5 ul{list-style-type: none; width: 200px}
#menu5 li{ margin-bottom: 5px;  }
#menu5 a:link, #menu5 a:visited {
	text-decoration: none;
	color: white;
	font: 10pt Arial;
	border: 1px solid #0081E7;
	display: block;
	padding: 0px 5px;
	line-height: 30pt;
	background-color: #0081E7;
	font-weight: bold
}
#menu5 a:hover, #menu5 a.active {
	
	color: blue;
	background: #fff url(images/blue.png) no-repeat 90% center;
	
}


#menu6 ul{list-style-type: none; }
#menu6 li{ margin-bottom: 5px; display: inline  }
#menu6 a:link, #menu6 a:visited {
	text-decoration: none;
	color: blue;
	font: 10pt Arial;
	border: 1px solid #1A31A2;
	
	padding: 5px 5px;
	
}
#menu6 a:hover, #menu6 a.active {
	color: #122372;
	
}


#menu7 ul{list-style-type: none}
#menu7 li{display: inline-block;}
#menu7 a:link, #menu7 a:visited {
	text-decoration: none;
	color: blue;
	font: 10pt Arial;
	border: 1px solid #1A31A2;
	
	padding: 5px 5px;
	
}
#menu7 a:hover, #menu7 a.active {
	color: #fff;
	background-color: #484848;
	border: 1px solid black;
	
}

#menu10{}
#menu10 ul{list-style-type: none; }
#menu10 li{ margin-right: 10px; display: inline-block; }
#menu10 a{
	
	
	
}
#menu10 a{padding-top: 30px; display: block;}
#menu10 a:link, #menu10 a:visited{color: #CBCBCB; text-decoration: none}
#menu10 a:hover{color: #039CFF}
#menu10 .l1 a:link, #menu10 .l1 a:visited {background: url(img/1.png) no-repeat top center;}
#menu10 .l2 a:link, #menu10 .l2 a:visited {background: url(img/2.png) no-repeat top center;}
#menu10 .l3 a:link, #menu10 .l3 a:visited {background: url(img/3.png) no-repeat top center;}
#menu10 .l4 a:link, #menu10 .l4 a:visited {background: url(img/4.png) no-repeat top center;}
#menu10 .l5 a:link, #menu10 .l5 a:visited {background: url(img/5.png) no-repeat top center;}
#menu10 .l1 a:hover{background: url(img/1-h.png) no-repeat top center;}
#menu10 .l2 a:hover{background: url(img/2-h.png) no-repeat top center;}
#menu10 .l3 a:hover{background: url(img/3-h.png) no-repeat top center;}
#menu10 .l4 a:hover{background: url(img/4-h.png) no-repeat top center;}
#menu10 .l5 a:hover{background: url(img/5-h.png) no-repeat top center;}


#menu11 {
	width:940px;
	height:35px;
	background-color:#FC9D00;
	font-family:Arial;
} 
#menu11 li{
	display: inline-block;
}
#menu11 a:link,#menu11 a:visited{
	color:#FFFFFF; 
	text-decoration:none; 
	display: block;
	padding: 0px 10px;
	line-height:35px;
	text-align:center;
	font-size: 10pt;
}
#menu11 a:hover{
	color:#FFFFFF;
	text-decoration:none;
	background-color:#E93301;
}
#menu11 ul{
	margin-left:10px;
	height:100%;
	padding:0px;
}


#menu12 a:link,#menu12 a:visited{ color:#506361; text-decoration:none;}
#menu12 a:hover{color:#506361;
	text-decoration:underline;
}
#menu12 a.holiday:link,#menu12 a.holiday:visited{color:#8CA2C1;}
#menu12 a {font-family:Arial; font-size:8pt; line-height:8pt; }
#menu12{
	width: 150px;
	height:95px; 
	margin: 20px auto;
}
#menu12 table {width:100%; height:100%;}
#menu12 td {text-align:center;}
#menu12 th {border-bottom: 1px solid #000000;}
#menu12 a.active {color:red; font-weight: bold;}

