body, p, h1, h2{
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 870px;
	margin: 0px auto;
}
#header {
	min-height: 200px;
	background: url('bg.jpg') no-repeat;
	color: white;
	position: relative;
}
	#sitename{
		position: absolute;
		top: 30px;
		left: 200px;
		font-size: 20pt;
		font-weight: bold;
	}
	#slogan{
		position: absolute;
		top: 60px;
		left: 230px;
		font-size: 10pt;
		font-weight: bold;
	}

#left {	
	float: left;
	width: 200px;
}
	#left>div{
		margin: 20px 0px 0px 10px;
	}
	#left h2{
		font-size: 12pt;
	}
	#left p{
		font-size: 10pt;
		text-align: justify;
		margin-bottom: 10px;
	}



#content {
	margin-left: 200px;
	min-height: 600px;
	padding: 20px;
	text-align: justify;	
}
	#content h1{
		font-size: 16pt;
	}
	#content h2{
		font-size: 14pt;
		margin-top: 20px;
	}
	#content p{
		margin: 10px 0px;
	}
#footer {
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 9pt;
	text-align: center;
}
.clearfix{
	clear: both;
}	
	

	
	
	